@keyframes sky-animation {
    0% {
        background: #2196f2;
    }
    50% {
        background-image: none;
        background-color: #1576b3;
    }
    75% {
        background-image: none;
        background-color: #335a7e;
    }
    90% {
        background-color: #1b3e55;
    }
}

@keyframes sun-animation {
    100% {
        transform: translateY(1000%);
        background: #111;
    }
    0% {
        background-color: #fdd819;
    }
    80% {
        left: 60%;
        background: #ff4e00;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(340px);
    }
}

@keyframes moon-animation {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    70% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 0.8;
    }
}